html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

table, th, td {
    border: 3px solid black;
    margin-left:auto; 
    margin-right:auto;
}

h1 {
    background-color: rgba(83, 73, 97, .5);
    font-size: 75px;
    font-family: Impact, Charcoal, sans-serif;
    line-height: 200%;
}

h2 {
    background-color: rgba(84, 78, 92, 0.5);
    font-family: "Arial Black", Gadget, sans-serif;
}

br {
    line-height: 150%;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 40px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}
  
/* On mouse-over */
.btn:hover {background: #eee;}
.Home{color:rgb(29, 26, 36);}
.Current-Project {color: rgb(17, 20, 24)}
.Astrophotography {color:rgb(46, 46, 199);}
.About {color: dodgerblue;}
.Miscellaneous {color: rgb(173, 59, 50);}
.Robotics-Electronics {color: rgb(160, 17, 17);}
.Experiments {color: rgb(61, 61, 23);}

body, html {
    height: 100%;
    margin: 0;
}
  
.parallax { 
    background-image: url("/assets/images/background.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.responsive-image {
    max-width: 100%;
}

.cell img {
    display: block;
}

.cell {
    margin: 1rem;
}

@media screen and (min-width: 600px) {
    .cell {
      width: calc(50% - 2rem);
    }
}
  
@media screen and (min-width: 1000px) {
    .cell {
      width: calc(33.3333% - 2rem);
    }
}

.front {
    font-size: 18pt;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    width: 100%;
    margin-bottom: 3em;
    background-color: rgba(236,218,215,.5);
}