.current {
    color: green;
}

table, th, td {
    border: 3px solid black;
    margin-left:auto; 
    margin-right:auto;
}

p {
    background-color: rgb(170, 154, 154);
}

h1 {
    background-color: tomato;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 65px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}
  
/* On mouse-over */
.btn:hover {background: #eee;}
.Home{color:rgb(119, 143, 119);}
.Astrophotography {color:rgb(75, 75, 180);}
.About {color: dodgerblue;}
.Miscellaneous {color: rgb(231, 167, 47);}
.Robotics-Electronics {color: rgb(145, 28, 28);}
.Experiments {color: rgb(73, 73, 40);}

body, html {
    height: 100%;
    margin: 0;
}
  
.parallax { 
    background-image: url("/assets/images/background.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column {
    flex: 50%;
    max-width: 100%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 33%;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}